---
layout: default
title: Témoignages
---

<h1>{{ page.title }}</h1>

Vous trouverez ici des témoignages de différentes coopératives informatiques.

<ul>
{% for temoignage in site.temoignages %}
    <li><a href="{{ temoignage.url }}">{{ temoignage.nom }}</a></li>
{% endfor %}
</ul>
Ce guide est preneur de plus de témoignages. Vous travaillez dans une coopérative ? <a href="mailto:bonjour@codecode.coop">Racontez comment ça se passe chez vous !</a>
