<footer class="site-footer">
  <span class="site-footer-owner"><a href="{{ site.url }}">{{ site.title }}</a> est un site collaboratif. Vous pouvez nous <a href="mailto:bonjour@codecode.coop">contacter</a>.</span>
  <span class="site-footer-credits">Consultez les sources sur GitLab pour <a href="https://gitlab.com/CodeursEnLiberte/codecode.coop/blob/master/{{ page.path }}">participer, corriger ou améliorer ce texte</a>.</span>
</footer>
