<section class="page-header corner-ribbon-container">
  <h1 class="project-name">
    <a href="{% link index.html %}">{{ site.title }}</a>
  </h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <a href="{% link index.html %}" class="btn">Guide</a>
  <a href="{% link apropos.markdown %}" class="btn">À propos</a>
</section>
